<p style="color: green"><%= notice %></p>

<div class="container">
  <h1 class="text-center mb-3">LOREM IPSUM TUTORIALS</h1>
  <div id="tutorials">
    <% @tutorials.each do |tutorial| %>
      <%= link_to render(tutorial), tutorial, class: "tutorial-block-link" %>
    <% end %>
  </div>
</div>