<div class="container w-75">
  <h1>New tutorial</h1>
  <%= render "form", tutorial: @tutorial %>
  <br>
  <div>
    <%= link_to "Back to tutorials", tutorials_path , class: "btn btn-dark"%>
  </div>
</div>
