.tutorial-block-link {
  text-decoration: none;
  color: inherit;
  margin-top: 1.25em;

  &:hover {
    color: inherit;
  }
}

.show-page-buttons {
  display: flex;
  width: 75%;
  gap: 20px;

  .btn {
    width: 100px;
  }
}

.link-badge {
  text-decoration: none;
}

.not-selectable {
  user-select: none;
  text-decoration: none;
  color: inherit;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
  white-space: pre-wrap;
}
