.tutorial-block-link {
  text-decoration: none;
  color: inherit;
  margin-top: 1.25em;

  &:hover {
    color: inherit;
  }
}

.show-page-buttons {
  display: flex;
  width: 75%;
  gap: 20px;

  .btn {
    width: 100px;
  }
}

.link-badge {
  text-decoration: none;
}